{% extends "layouts/base.html" %}

{% block title -%}
Bunjucks
{%- endblock %}

{% block body %}

<h1 class="text-2xl font-bold">How to make pancakes</h1>


<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum culpa tenetur rerum, perspiciatis laboriosam officia sapiente eaque error minima fugit adipisci dolore quas ex? Perspiciatis alias provident numquam similique laudantium?</p>

<div>
    <a class="text-blue-500 block mt-3" href="{{domain}}/">Home</a>
    <a class="text-blue-500 block mt-3" href="{{domain}}/about">Go to about</a>
    <a class="text-blue-500 block mt-3" href="{{domain}}/blog">Go to blog</a>
</div>

{% endblock %}