{% extends "layouts/base.html" %}

{% block title -%}
Bunjucks
{%- endblock %}

{% block body %}

<h1 class="text-2xl font-bold">How to make pancakes</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum culpa tenetur rerum, perspiciatis laboriosam officia sapiente eaque error minima fugit adipisci dolore quas ex? Perspiciatis alias provident numquam similique laudantium?</p>

<a class="text-blue-500 block mt-3" href="/">Home</a>
<a class="text-blue-500 block mt-3" href="/about">Go to about</a>
<a class="text-blue-500 block mt-3" href="/blog">Go to blog</a>

{% endblock %}